



a,
li {
    text-decoration: none !important;
    list-style: none;
    text-decoration-style: none;
}

.accordion-button-no-blue {
    color: inherit;
}


nav a img {
    transition: transform 0.5s ease;
}

nav a img:hover {
    transform: rotate(180deg);
}